:root {
	--piano-height: min(40vh, 500px);
	--key-width: 60px;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

div {
	box-sizing: border-box;
}

.piano {
	border: 1px solid rgb(81, 207, 224);
	width: 100vw;
	height: calc(var(--piano-height) * 1.25);
	overflow-x: scroll;
}

.keyboard {
	height: var(--piano-height);
	display: flex;
}

.piano-key {
	border: 1px solid;
	min-width: var(--key-width);
	height: var(--piano-height);
	transition: 0.5s;
}

.white.piano-key {
	background-color: white;
	height: calc(var(--piano-height) * 0.96);
}

.black.piano-key {
	position: relative;
	background-color: black;
	height: calc(var(--piano-height) * 0.7);
	min-width: calc(var(--key-width) * 0.5);
	z-index: 2;
	margin-left: calc(calc(var(--key-width) * 0.25) * -1);
	margin-right: calc(calc(var(--key-width) * 0.25) * -1);
}

.active.piano-key {
	background-color: lightblue;
}
